.venv
checkpoints/sam2.1_hiera_base_plus.pt
checkpoints/sam2.1_hiera_large.pt
checkpoints/sam2.1_hiera_small.pt
checkpoints/sam2.1_hiera_tiny.pt
gdino_checkpoints/groundingdino_swinb_cogcoor.pth
gdino_checkpoints/groundingdino_swint_ogc.pth
__pycache__/LLM.cpython-310.pyc